# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Airflow
airflow/logs/

# dbt
dbt/target/
dbt/dbt_packages/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
logs/

# Docker
*.pid