# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# Logs
logs/
airflow/logs/

# OS files
.DS_Store

# Database
*.sqlite